*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    /* background-color: #F1F0E8; */
    background-color: #EAE3D2;
}




.top{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80vw;
}

h1{
    margin: 2vh;
}

#start-game-timer{
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}

.values{
    display: flex;
    gap: 10px;
}

#start-game-timer h2{
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #3D3C42;
    color: #F1F0E8;
}

#gs-btn{
    padding: 15px 25px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: #7C3E66;
    color: #F1F0E8;
    cursor: pointer;
}

#selection{
    padding: 20px;
    opacity: 0.5;
    max-width: 80vw;
    min-height: 60vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    /* background-color: #EEE3CB; */
    background-color: #D7C0AE;
}

.items{
    display: flex;
    flex: 1 0 15%; /* explanation below */
    flex-direction: column;
    align-items: center;
    margin: 30px 10px;
    cursor: pointer;
}

.items img{
    width: 100px;
    margin: 20px;
}

.items p {
    font-size: 20px;
    font-weight: 500;
}

.items input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 15px;
	margin: 10px auto;
    padding: 10px 20px;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.player-selected{
    margin: auto;
    font-size: 30px;
    font-weight: 600;
}

#btn{
    margin: 30px auto;
    padding: 15px 25px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    background-color: #FF6969;
    color: #F1F0E8;
    cursor: pointer;
}



#result-box{
    opacity: 0;
    transition: opacity 0.3;
    padding: 20px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
    width: 25vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* background-color: #EEB0B0; */
    background-color: #EAC7C7;
}

#result-box p{
    text-align: center;
    margin: 10px 0;
    font-size: 25px;
    font-weight: 600;
}

#result-text{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 35px 0;
}

.play-again{
    padding: 12px 20px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    background-color: #112B3C;
    color: #F1F0E8;
    cursor: pointer;
}